<div class="home-container">
  <div class="cart-container">
    <!-- Cart Button in top-left corner -->
    <mat-icon class="cart-icon" (click)="openCartModal()">shopping_cart</mat-icon>
    <span class="cart-badge" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
  </div>

  <div>
    <app-menu-bar [categories]="categories" [selectedCategory]="selectedCategory"
      (categorySelected)="onCategorySelected($event)">
    </app-menu-bar>
    <!-- Pass computed menuItems to MenuListComponent -->
    <app-menu-list [menuItems]="menuItems">
    </app-menu-list>
  </div>

  <!-- Cart Modal -->
  <app-cart-modal *ngIf="isCartModalOpen" (close)="closeCartModal()"></app-cart-modal>
</div>