/* Basic layout for Home component */
/* Add background color to the entire Home component */
.home-container {
  background-color: #002366; /* Replace with desired color */
  min-height: 100vh; /* Ensure it covers the full height of the viewport */
  padding: 20px; /* Optional: Adjust padding for spacing */
}

.menu-container {
  padding: 0;
  margin-top: 0; /* Ensure no top margin */
  width: 100%; /* Make sure it spans full width */
  left: 0; /* Align it to the left edge of the screen */
  right: 0; /* Align it to the right edge of the screen */
}


div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .cart-container {
    position: absolute;
    top: 100px;
    right: 15px;
    z-index: 1002;
  }
  
  
  .cart-icon {
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    display: flex;
    align-items: center;
  }

  .cart-icon-container {
    position: absolute;
    top: 100px;
    right: 15px;
    z-index: 1002;
  }
  
  .cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
  }
  
  
  
  