<app-header (sidebarToggle)="toggleSidebar()"></app-header>
<div class="sidebar" [ngClass]="{ 'open': isOpen }">
    <ul>
        <li>
            <a routerLink="/home"  (click)="toggleSidebar()" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="/settings"  (click)="toggleSidebar()" routerLinkActive="active">Setting</a>
        </li>
        <li>
            <a routerLink="/search"  (click)="toggleSidebar()" routerLinkActive="active">Search</a>
        </li>
    </ul>
    <button class="close-btn" (click)="toggleSidebar()">
        <span class="material-icons">close</span>
    </button>
</div>